<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Lowin</title>
    <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>

<body>
<div class="lowin">
    <div class="lowin-brand">
        <img th:src="@{/img/kodinger.jpg}" alt="logo">
    </div>
    <div class="lowin-wrapper">
        <div class="lowin-box lowin-login">
            <div class="lowin-box-inner">
                <form th:action="@{/micoUSC/Authlogin}" method="post" target="_self">
                    <p>SPrEka数据平台</p>
                    <div class="lowin-group">
                        <label>访问账户名 <a href="#" class="login-back-link"> Log In? </a></label>
                        <input type="input" name="usname" class="lowin-input">
                    </div>
                    <div class="lowin-group">
                        <label>访问手机号 </label>
                        <input type="input" name="phoneNumber" class="lowin-input">
                    </div>
                    <div class="lowin-group password-group">
                        <label>访问密码 <a href="#" class="forgot-link">忘记密码?</a></label>
                        <input type="password" name="password" autocomplete="current-password" class="lowin-input" required>
                    </div>
                    <button class="lowin-btn login-btn" type="submit"> Log In </button>
                    <div class="text-foot"> 没有账号?注册一个 <a href="" class="register-link">注册账号</a> </div>
                </form>
            </div>
        </div>

        <div class="lowin-box lowin-register">
            <div class="lowin-box-inner">
                <form action="/Authlogin" th:action="@{/micoUSC/Authlogin}" method="post" target="_self">
                    <p>SPrEka数据平台</p>
                    <div class="lowin-group">
                        <label>账号名称</label>
                        <input type="text" name="name" autocomplete="name" class="lowin-input">
                    </div>
                    <div class="lowin-group">
                        <label>访问邮件</label>
                        <input type="email" autocomplete="email" name="email" class="lowin-input">
                    </div>
                    <div class="lowin-group">
                        <label>访问密码</label>
                        <input type="password" name="password" autocomplete="current-password" class="lowin-input">
                    </div>
                    <button class="lowin-btn"> Log Up </button>

                    <div class="text-foot">
                        有账号了?赶紧访问吧 <a href="" class="login-link"> Log In </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="lowin-footer"></footer>
</div>

<script th:src="@{/js/auth.js}"></script>
<script>
    Auth.init({
        login_url: '/micoUSC/Authlogin',
        forgot_url: '#forgot'
    });
</script>
</body>
</html>